@import "tailwindcss";

@theme {
    --color-gray-750: #2d3748;
    --color-gray-850: #1a202c;
    --color-gray-950: #0d1117;
}

body {
  background-color: #0d1117; /* Very dark background */
  color: #e2e8f0; /* Light text */
}

/* Base tailwind dark mode configuration */
html {
  color-scheme: dark;
}
